<div class="login-container">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise"></ngx-spinner>
  <mat-card>
    <form (ngSubmit)="save()" [formGroup]="form">
      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0">
        <mat-form-field fxFlex="100">
          <mat-label>Usuario</mat-label>
          <input matInput type="email" required formControlName="email" name="email" minlength="3" maxlength="50">
          <mat-hint *ngIf="rolErrors.email.length > 0" class="errors">
            {{ rolErrors.email[0] }}
          </mat-hint>
          <mat-error *ngIf="form.controls.email.hasError('required')">
            El correo es requerido
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('minlength')">
            La longitud minima del correo es 3 caracteres
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('maxlength')">
            La longitud maxima del correo es 50 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0">
        <mat-form-field fxFlex="100">
          <mat-label>Clave</mat-label>
          <input matInput type="password" required formControlName="password" name="password" minlength="3" maxlength="50">
          <mat-hint *ngIf="rolErrors.password.length > 0" class="errors">
            {{ rolErrors.password[0] }}
          </mat-hint>
          <mat-error *ngIf="form.controls.password.hasError('required')">
            La clave es requerido
          </mat-error>
          <mat-error *ngIf="form.controls.password.hasError('minlength')">
            La longitud minima de la clave es 3 caracteres
          </mat-error>
          <mat-error *ngIf="form.controls.password.hasError('maxlength')">
            La longitud maxima de la clave es 50 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div class="text-center mt-3 mb-3" fxLayoutGap="20px" fxLayoutAlign="center">
        <button mat-raised-button color="primary" class="btn-blocker" type="submit" fxFlex="50" fxFlex.gt-md="35"
          [disabled]="form.invalid">
          <i class="far fa-lock mr-2"></i> Ingresar
        </button>
      </div>
    </form>
  </mat-card>

</div>
