<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise"></ngx-spinner>
<div class="container-routes">
  <mat-sidenav-container class="sidenav-container" autosize fullscreen>
    <mat-sidenav #drawer class="sidenav-container-sidenav" [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="opened"
      disableClose (window:resize)="onResize($event)">
      <mat-nav-list>
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="!isLargeScreen()" style="margin-left: 16px">
          <mat-icon>menu</mat-icon>
        </button>
        <p-avatar image="{{ image.route }}" size="xlarge" shape="circle"></p-avatar>
        <button mat-menu-item [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <i class="fas fa-user-cog mr-3"></i>{{ user.name+' '+user.surname }}
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="logout()">Salir</button>
        </mat-menu>
        <a [routerLink]="'./'" mat-list-item (click)="shower(drawer)"><i class="fas fa-tachometer-alt mr-3"></i>
          Dashboard
        </a>
        <a [routerLink]="'perfil'" mat-list-item (click)="shower(drawer)"><i class="fas fa-user-lock mr-3"></i>
          Perfil
        </a>
        <a [routerLink]="'user'" mat-list-item (click)="shower(drawer)"><i class="fas fa-users mr-3"></i> Usuario</a>
        <a [routerLink]="'rol'" mat-list-item (click)="shower(drawer)"><i class="fas fa-user-tag mr-3"></i> Roles</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="sidenav-container-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
