.sidenav-container {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  &#{-content} {
    padding: 25px;
    display: flex;
    justify-content: center;
  }
  &#{-sidenav} {
    width: 250px;
    padding: 20px;
  }
}
