<h1>{{ title }}</h1>
<mat-card>
  <form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="40px" fxLayoutGap="0">
      <div fxFlex.md="50" fxFlex="100" fxLayoutGap="0">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="40px">
          <mat-form-field fxFlex="100">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" required formControlName="name" name="name" minlength="3" maxlength="50">
            <mat-hint *ngIf="userErrors.name.length > 0" class="errors">
              {{ userErrors.name[0] }}
            </mat-hint>
            <mat-error *ngIf="form.controls.name.hasError('required')">
              El nombre es requerido
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">
              La longitud minima del nombre es 3 caracteres
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('maxlength')">
              La longitud maxima del nombre es 50 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" required formControlName="surname" name="surname" minlength="3" maxlength="50">
            <mat-hint *ngIf="userErrors.surname.length > 0" class="errors">
              {{ userErrors.surname[0] }}
            </mat-hint>
            <mat-error *ngIf="form.controls.surname.hasError('required')">
              El apellido es requerido
            </mat-error>
            <mat-error *ngIf="form.controls.surname.hasError('minlength')">
              La longitud minima del apellido es 3 caracteres
            </mat-error>
            <mat-error *ngIf="form.controls.surname.hasError('maxlength')">
              La longitud maxima del apellido es 50 caracteres
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex.gt-md="50" fxFlex="100">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="40px">
          <mat-form-field fxFlex="100">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sex" required>
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="F">Femenino</mat-option>
            </mat-select>
            <mat-hint *ngIf="userErrors.sex.length > 0" class="errors">
              {{ userErrors.sex[0] }}
            </mat-hint>
            <mat-error *ngIf="form.controls.sex.hasError('required')">
              El sexo es requerido
            </mat-error>
            <mat-error *ngIf="form.controls.sex.hasError('minlength')">
              La longitud minima del sexo es 1 caracteres
            </mat-error>
            <mat-error *ngIf="form.controls.sex.hasError('maxlength')">
              La longitud maxima del sexo es 1 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="date" name="date" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-hint *ngIf="userErrors.date.length > 0" class="errors">
              {{ userErrors.date[0] }}
            </mat-hint>
            <mat-error *ngIf="form.controls.date.hasError('required')">
              La fecha de nacimiento es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="40px" fxLayoutGap="0">
      <div fxFlex.gt-md="50" fxFlex="100">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="40px">
          <mat-form-field fxFlex="100">
            <mat-label>Correo</mat-label>
            <input matInput type="email" required formControlName="email" name="email" minlength="3" maxlength="50">
            <mat-hint *ngIf="userErrors.email.length > 0" class="errors">
              {{ userErrors.email[0] }}
            </mat-hint>
            <mat-error *ngIf="form.controls.email.hasError('required')">
              El correo es requerido
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('minlength')">
              La longitud minima del correo es 3 caracteres
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('maxlength')">
              La longitud maxima del correo es 50 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="deleted_at">
              <mat-option value="1">Activo</mat-option>
              <mat-option value="2">Inactivo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex.gt-md="50" fxFlex="100">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="40px">
          <mat-form-field fxFlex="50">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol_id" required>
                <mat-option [value]="role.id" *ngFor="let role of roles">{{ role.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex="50">
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 mb-3" fxLayoutGap="20px" fxLayoutAlign="center">
      <button mat-raised-button color="primary" class="btn-blocker" type="submit" fxFlex="50" fxFlex.gt-md="25"
        [disabled]="form.invalid">
        <i class="far fa-pen mr-2"></i> Guardar
      </button>
      <button mat-raised-button color="warn" class="btn-blocker" fxFlex="50" fxFlex.gt-md="25" type="button"
        [routerLink]="['/dashboard/user']">
        <i class="far fa-times mr-2"></i> Cancelar
      </button>
    </div>
  </form>
</mat-card>
