<h1>{{ title }}</h1>
<mat-card>
  <form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0">
      <mat-form-field fxFlex="100">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" required formControlName="name" name="name" minlength="3" maxlength="50">
        <mat-hint *ngIf="rolErrors.name.length > 0" class="errors">
          {{ rolErrors.name[0] }}
        </mat-hint>
        <mat-error *ngIf="form.controls.name.hasError('required')">
          El nombre es requerido
        </mat-error>
        <mat-error *ngIf="form.controls.name.hasError('minlength')">
          La longitud minima del nombre es 3 caracteres
        </mat-error>
        <mat-error *ngIf="form.controls.name.hasError('maxlength')">
          La longitud maxima del nombre es 50 caracteres
        </mat-error>
      </mat-form-field>
    </div>
    <div class="text-center mt-3 mb-3" fxLayoutGap="20px" fxLayoutAlign="center">
      <button mat-raised-button color="primary" class="btn-blocker" type="submit" fxFlex="50" fxFlex.gt-md="25"
        [disabled]="form.invalid">
        <i class="far fa-pen mr-2"></i> Guardar
      </button>
      <button mat-raised-button color="warn" class="btn-blocker" fxFlex="50" fxFlex.gt-md="25" type="button"
        [routerLink]="['/dashboard/rol']">
        <i class="far fa-times mr-2"></i> Cancelar
      </button>
    </div>
  </form>
</mat-card>
