<div class="user-list-container">
  <mat-card>
    <button mat-raised-button [routerLink]="'/dashboard/user/create'" color="primary" class="pl-4 pr-4">
      <i class="far fa-plus mr-2"></i> Crear
    </button>
    <h2 class="mt-4 mb-4">Lista de usuarios</h2>
    <p-table [value]="users" [lazy]="true" (onLazyLoad)="loadCustomers($event)" [rows]="2" [paginator]="true"
      [totalRecords]="totalRecords" [loading]="loading" styleClass="p-datatable-responsive-demo">
      <ng-template pTemplate="header">
        <tr>
          <th>Acciones</th>
          <th>Name</th>
          <th>Apellido</th>
          <th>Fecha Nacimiento</th>
          <th>Email</th>
          <th>Estado</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <p-columnFilter type="text" field="name" [showMenu]="false"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="surname" [showMenu]="false"></p-columnFilter>
          </th>
          <th></th>
          <th>
            <p-columnFilter type="text" field="email" [showMenu]="false"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="status" [showMenu]="false">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-dropdown [options]="statues" styleClass="p-column-filter" placeholder="--TODOS--" [showClear]="true"
                  (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <span [class]="'customer-badge'">&#123;&#123;option.label&#125;&#125;</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr class="list-item">
          <td>
            <button mat-raised-button [matMenuTriggerFor]="options" color="primary">Menu <i
              class="far fa-angle-down ml-4"></i></button>
            <mat-menu #options="matMenu">
              <button mat-menu-item [routerLink]="['/dashboard/user/show', user.id]"
                *ngIf="(user.deleted_at === null)">Editar
              </button>
              <button mat-menu-item
                (click)="delete(user)">{{ ( user.deleted_at === null ) ? 'Desactivar' : 'Activar' }}</button>
            </mat-menu>
          </td>
          <td>{{user.name}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.date}}</td>
          <td>{{user.email}}</td>
          <td>
            <button class="{{(user.deleted_at === null) ? 'btn-blue': 'btn-red'}}"
              mat-raised-button>{{( user.deleted_at === null ) ? 'Activo' : 'Inactivo'}}</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-card>
</div>
